[submodule "lib"]
    path = ./lib
    url = https://github.com/voidKandy/espionox_lib

[submodule "egui_demo"]
    path = ./egui_demo
    url = https://github.com/voidKandy/espionox_egui_demo

[submodule "terminal_app"]
    path = ./terminal_app
    url = https://github.com/voidKandy/espionox_lib


