[submodule "lib"]
	path = lib
	url = https://github.com/voidKandy/espx-lib

[submodule "egui"]
	path = egui
	url = https://github.com/voidKandy/espx-egui

[submodule "image"]
	path = image
	url = https://github.com/voidKandy/espx-image

[submodule "copilot"]
	path = copilot 
	url = https://github.com/voidKandy/esx-copilot

[submodule "htmx"]
    path = "espx" 
	url = https://github.com/voidKandy/espx-htmx
